.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.title{
    color: #FFF;
    margin: 20px 0;
}

.form{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
}

.form button{
    margin-bottom: 15px;
    height: 36px;
    border-radius: 4px;
    background-color: #3366ff;
    border: 0;
    font-size: 18px;
    color: #FFF;
}

.form a{
    margin: 5px auto;
    color: #FFF;
    font-size: 14px;
}

.form a:hover{
    text-decoration: underline;
}